* {
  margin:0;
  transition:0.2s;
  -moz-transition:0.2s;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family:source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  width:100%;
  background-color:black;
  text-align:center;
  border-top:2px black solid;
  border-bottom:2px black solid;
  position:fixed;
}

[class*=normal] {
  text-align:left;
}

textarea {
  min-width:450px;
  max-width:450px;
  min-height:400px;
}

.dangerzone button {
  color:white;
  background-color:orange;
  height:30px;
}

.dangerzone {
  background-color:crimson;
  border:2px orange solid;
  border-radius:5px;
  color:white;
}

.dangerzone button:hover {
  background-color:red;
}

button {
  border:none;
  border-radius:5px;
  align-items:center;
  color:white;
}

#newpage {
  background-color:green;
  align-items:center;
  height:30px;
  width:30px;
  border-radius:5px;
}

#newpage:hover {
  background-color:darkgreen;
}

.introduction {
  background-color:#f6f6f6;
}

#home {
  background-color:orange;
}

#home:hover {
  background-color:orangered;
}

[class*=italic] {
  font-style:italic;
  text-shadow:2px 2px 8px;
}

[class*=center] {
  text-align:center;
}

#create {
  background-color:#0097fb;
}

#create:hover {
  background-color:rgba(52,133,228,0.48);
}